html {
    background: #fff;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    grid-template-rows: auto 1fr auto; 
    min-height:100vh;
}

.wrapper {
}

.wrapper header {
    background: url("0x0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.headerBackground {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.logoHeading{
    display: grid;
    place-content: center;
    color: white;
}

.navBar {
    background: rgb(68, 96, 253);
    font-family: inherit;
}

.firstHeading {
    font-size: 1rem;
}

.logoHeading__One, .logoHeading__Two {
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
}

.navBar ul {
    font-size: 1rem;
    list-style-type: none;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.navBar a {
    text-decoration: none;
}

.navBar li {
    color: black;
    display: grid;
    place-content: center;
    padding: 0 30px;
}

.container {
    height: 3000px;
}

.aboutUs {
    background: rgb(216, 216, 218);
    height: fit-content;    
}

.aboutUs__Heading {
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 150px;
}

.aboutUs__Paragraph {
    border: 5px solid black;
    background-image: url(people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUs__Paragraph ul {
    list-style-position: inside;
}

.aboutUs__Paragraph li {
    width: 60vw;
    height: fit-content;
    background: rgba(128, 128, 128, 0.753);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-weight: bold;
}

.aboutUs__Paragraph li::marker { 
    content: ">>";  
    color: blue;
    font-size: 2em;
}

.main__Opportunities {
    border: 1px solid red;
    margin: 200px 40px;
    height: fit-content;
    position: relative;
}

.main__Opportunities .main__Opportunitieswrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid white;
    border-radius: 50px;
    margin: 0;
}

.main__Opportunitieswrap {
    display: flex;
    flex-wrap: wrap;
    background: rgba(68, 96, 253, 0.767);
}

.main__Opportunitieswrap > * {
    border: 1px solid white;
    position: relative;
    width: 500px;
    height: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    place-content: center;
}

.main__Opportunities h2, h3 {
    display: flex;
    justify-content: center;
}


#elem1 {
    background-image: url(highereduc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#elem2 {
    background-image: url(vocational.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#elem3 {
    background-image: url(school.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#elem4 {
    background-image: url(adult.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#elem5 {
    background-image: url(youth.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#elem6 {
    background-image: url(sport.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.main__Opportunitieswrap .cover {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-content: center;
}

.main__Opportunitieswrap .cover__Title {
    background-color: black;
    position: relative;
    padding: 20px;
    color: white;
}



